.postsNav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  
  min-width: 35.6rem;
}


.arrowRight,
.arrowLeft {
  transition: all 0.5s;
  cursor: pointer;

  width: 3rem;
  height: 3rem;
}

.arrowRight {
  transform: translateX(5.5%);
}

.arrowLeft {
  transform: translateX(-5.5%);
}

.arrowRight:hover {
  transform: translateX(25%) scale(1.15);
}

.arrowLeft:hover {
  transform: translateX(-25%) scale(1.15);
}

.arrowRight:active {
  transform: translateX(25%) scale(1.025);
}

.arrowLeft:active {
  transform: translateX(-25%) scale(1.025);
}

.pageNumber {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
  padding: 1.4rem;
  margin: 0 0.6rem;

  border-radius: 1000px;
  cursor: pointer;

  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-black);
}

.pageNumberCurrent {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}





